/* Common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

/* Header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    background-image: url(../images/pngwing\ 10.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 50px 240 0px 1045;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .banner-flower {
    max-width: 635px;
    max-height: 800px;

}

.banner-content {
    margin-left: 240px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    max-width: 708px;
    margin-top: 197px;


}

.banner-description {
    max-width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
}

.btn-primary {
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 167px;
}

/* First section styles */
.first {
    text-align: center;
}

.first-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;

}

.first-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
    display: flex;
    width: 594px;
    margin-left: auto;
    margin-right: auto;
}

.first-images .both {
    display: inline-block;
}
.first-images> .first-image-one, .first-image-two, .first-image-three{
    margin-left: auto;
    margin-right: auto;
}

.first-image-one {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    border-width: 464px;
    border-top: 538px;
    margin-left: 100px;
    margin-right: 60px;
    max-width: 310px;
    max-height: 428px;
    padding: 110px 78px 0px 76px;

}

.first-image-two {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    max-width: 370px;
    max-height: 470px;
    margin-right: 60px;
    border-width: 464px;
    border-top: 538px;
    padding: 117px 47px 51px 47px;

}

.first-image-three {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    border-width: 464px;
    border-top: 538px;
    margin-right: 146px;
    max-width: 314px;
    max-height: 471px;
    padding: 67px 75px 0px 75px;
}

.underline {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;  
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}

  